<%= form_for(@news_category) do |f| %>
  <% if @news_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_category.errors.count, "error") %> prohibited this news_category from being saved:</h2>

      <ul>
      <% @news_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :news_category %><br>
    <%= f.text_field :news_category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
